.header {
  height: 80px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;

  .main {
    width: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    a {
      text-decoration: none;
      color: black;
    }
  }
}

.enter {
  width: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;

  a {
    text-decoration: none;
    color: black;
  }
  .signUp {
    padding: 10px;
    border: 1px solid#52C41A;
    border-radius: 4px;
    color: #52c41a;
  }
}

.user {
  width: 400px;
  display: flex;
  justify-content: space-around;
  align-items: center;

  a {
    text-decoration: none;
    color: black;
  }
  .createArticle {
    padding: 5px;
    border: 1px solid#52C41A;
    border-radius: 4px;
    color: #52c41a;
  }
}

.logOut {
  padding: 10px;
  border: 1px solid black;
  border-radius: 4px;
}
