.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  .forForm {
    width: 70vw;
    margin-top: 25px;
    padding: 15px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
